html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
    background: url('/img/sportanalytics-bg.jpg');
    background-position: center center;
    background-size: cover;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title a {
    font-size: 84px;
    color: #636b6f;
    
     &:hover, &:focus {
         text-decoration: none;
     }
}

.caption {
    color: #636b6f;
    font-size: 16px;
    font-weight: 600;
}

.games-page .prediction-form form {
    text-align: center;
}

.games-page .games {
    margin: 0 auto;
    float: initial;

    .date {
        font-size: 20px;
        font-weight: 500;
    }

    .game {
        font-size: 20px;
        color: #333337;
        background-color: #f0f0f0;
        background: #fcfcfc;
        border: solid 1px #f0f0f0;
        display: block;
        padding: 3px;
        margin-bottom: 7px;

       .team-info {
           img {
                height: 30px;
           }

           .name {
                font-weight: 500;
           }

           .record {
                font-size: 14px;
           }

           .score {
                float: right;
                font-weight: 500;
            }
       }

        &:hover, &:focus {
            text-decoration: none;
        }
    }
}

.game-page {
    .game {
        text-align: center;
        margin-bottom: 35px;
    }

    .stats {
        .score {
            font-size: 50px;
            margin-top: -20px;
        }
    }

    .team-info .name {
        font-weight: 500;
    }

    .teama, .teamb {
        display: inline-block;
    }

    .teama {margin-right: 10px;}
    .teamb {margin-left: 10px;}

    .pointsPerQuarter {
        display: grid;
        float: initial;
        margin: 0 auto;
        max-width: 600px;
        border: solid 1px #ccc;
    }
}

.footer {
    margin-top: 25px;

    .location {
        background: url('/img/sportanalytics-location.jpg');
        background-position: center center;
        background-size: cover;
        height: 350px;
        width: 100%;
    }

    .info {
        text-align: center;
        padding: 5px 10px 20px 10px;
    }
}